<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Chat</title>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
<style>

p.chat{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:11pt;
	color:#fff;
}
	
</style>
</head>

<body>

    <div id="user_1_chat" style="float:left; width:50%;">
		<p class="chat">&nbsp;</p>
        <p class="chat">>Hola</p>
        <p class="chat">&nbsp;</p>
        <p class="chat">Ya gane</p>
        <p class="chat">Eres un noob...</p>
        <p class="chat">&nbsp;</p>
    </div>
    
    
    <div id="user_2_chat" style="float:right; width:50%">
    	<p class="chat">>Hola</p>
        <p class="chat">&nbsp;</p>
        <p class="chat">>Como estas?</p>
        <p class="chat">&nbsp;</p>
        <p class="chat">&nbsp;</p>
        <p class="chat">haha veremos...</p>
    </div>

</body>
</html>
